<footer>
    <!-- Footer content goes here -->
    <div class="footer">
        <div class="container">
            <div class="row footer-description">
                <div class="col-md-6">
                    <p>&copy; Software Engineering 2023.2 - Vinh - Vu - Cuong - Dien.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-end">Terms of Service | Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</footer>
